* {
    font-family:Courier;
}

tr.tag-l{
    background-color:#AEE7EE;
}
tr.tag-g{
    background-color:#9DA5F9;
}
tr.tag-t{
    background-color:#AFC9F6;
}

tr.tag-m{
    background-color:bisque;
}

tr.tag-v{
    background-color:lightgreen;
}

tr.tag-noisy{
    background-color:#f99c9c;
}

tr.new-span td, tr.group-start td{
    border-top:solid 10px crimson;
}

#save {
    position:fixed;
    top:10px;
    right:10px;
    padding:10px;
}

/* Display for the browser */
.filerow {
    font-family:Monaco;
}

.filerow.modified {
    border:2px lightpink solid;
}

.filerow.finished {
    border:2px red solid;
}

tr.in-group td:first-of-type {
    border-left: 2px green solid;
}

.selected-row {
    background-color:cyan;
}

/* Whether flags have been marked or not */
.flagcell.flagged {
    border-bottom: 3px green solid;
    border-left: 3px green solid;
    border-right: 3px green solid;
}