* {
    font-family:Courier;
}

tr.tag-l{
    background-color:#AEE7EE;
}
tr.tag-g{
    background-color:#9DA5F9;
}
tr.tag-t{
    background-color:#AFC9F6;
}

tr.tag-m{
    background-color:bisque;
}

tr.tag-v{
    background-color:lightgreen;
}

tr.tag-tb {
    background-color:#FFB14B;
}

tr.tag-noisy{
    background-color:#f99c9c;
}

tr.new-span td{
    border-top:solid 10px crimson;
}

tr.cont-span td{
    border-top:solid 10px blueviolet;
}

#save {
    position:fixed;
    top:10px;
    right:10px;
    padding:10px;
}

/* Display for the browser */
.filerow {
    font-family:Monaco;
}

.filerow.modified {
    border:2px lightpink solid;
}

.filerow.finished {
    border:2px red solid;
}

.selected-row {
    background-color:cyan;
}

/* Style */
.flag-combo {
    width:70px;
}