<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freki Editor</title>
    {% include 'scripts.html' with context %}

    <!-- Snippets of javascript for later -->
    <script type="text/javascript">
        var selectedRow=null;
        var baseUrl='{{ base_url }}';
        var dir='{{ dir }}/';
    </script>

</head>
<body>

    <div id="mainwindow" style="height: 100vh; position:relative">
        <div id="filelist" style="width:20%; float:left; max-height:95vh; overflow:scroll">
            {%- for path in contents %}
                <div class="filerow{% if path in saves %} modified{% endif %}" filename="{{ path }}" onclick="selectRow(this)">{{ path }}</div>
             {%- endfor %}
        </div>
        <div id="editor" style="width:79%; float:left; max-height:97vh; overflow: scroll">
            No file loaded.
        </div>
    </div>
</body>
</html>