<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freki Editor</title>
    {% include 'scripts.html' with context %}



</head>
<body>
    <div id="mainwindow" class="easyui-layout easyui-resizable" style="height:800px">
{#        <div data-options="region:'west'" id="filelist" style="width:20%; float:left; max-height:95vh; height:95vh; overflow:scroll">#}
        <div id="controls" data-options="region:'north',split:true" style="height:40px; text-align:right">
            Save Blah

            {#-  Show Pagination Controls -#}
            <div id="pagination">
                <div id="linerange">
                    Show <input type="text" value="100" id="numlines" style="width:40px"/> lines at a time.
                </div><BR/>

                <span id="range" style="display:none">Showing Lines <span id="start_line"></span> to <span id="stop_line"></span> of <span id="max_lines"></span>
                    <button id="prev" onclick="loadPrev()">Prev</button>
                    <button id="next" onclick="loadNext()">Next</button>
                </span>

            </div>

        </div>
        <div data-options="region:'west',split:true" style="width:20%;height:100%">
            <div>
            <ul id="filelist" class="easyui-datalist" lines="true"">

                {%- for path in contents %}
                    <li id="filerow-{{ loop.index - 1 }}" class="filerow{% if path in saves %} modified{% endif %}{% if path in saves and saves[path] %} finished{% endif %}" filename="{{ path }}"
                    >{{ path }}</li>
                {%- endfor %}
            </ul>
            </div>
        </div>

        <div id="editor"
                style="width:400px;height:100%; overflow:scroll"
            data-options="region:'center'">
            No file loaded.
        </div>
    </div>
</body>
</html>