<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freki Doc</title>
    <script type="text/javascript">
        var docId = '{{ doc_id }}';
    </script>
</head>
<body>
{%- from 'line.html' import line %}
<TABLE>
    {%- for fb in fd.blocks -%}
        {% for fl in fb.lines %}
            {{ line(fl, tags, fd) }}
        {% endfor -%}
<TR class="nullrow"><TD>&nbsp;</TD></TR>
    {% endfor %}
</TABLE>

<DIV id="save">
    <BUTTON type="button" onclick="save()">Save</BUTTON>
    <BUTTON type="button" onclick="finish()">Finished!</BUTTON>
</DIV>

</body>
</html>