<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freki Doc</title>
    <script type="text/javascript">
        var docId = '{{ doc_id }}';
    </script>
</head>
<body>
{%- from 'line.html' import line %}
<TABLE>
    {% for lineno in lines %}
        {% set line_text = lines[lineno] %}
        {% set new_block = line_meta[lineno]['new_block'] %}
        {{ line(lineno, line_text, tags, flags) }}
        {% if new_block %}
            <TR class="nullrow"><TD>&nbsp;</TD></TR>
        {% endif %}
    {% endfor %}
</TABLE>

</body>
</html>