{%- macro line(lineno, text, tags, flags) -%}

<TR class="linerow">
    <TD class="lineno" lineno="{{ lineno }}">{{ lineno }}</TD>
    {# The drop-down for the tag... -#}
    <TD>
        <SELECT class="tag-select" onchange="tagSelect(this)">
        {%- for tag in tags %}
            <OPTION value="{{ tag }}">{{ tag }}</OPTION>
        {%- endfor %}
        </SELECT>
        </TD>
        {#- Secondary Tag -#}
        <TD>
            <SELECT class="secondary-tag" onchange="tagSelect(this)">
                <OPTION value=""> </OPTION>
                {% for tag in tags %}
                    <OPTION value="{{ tag }}">{{ tag }}</OPTION>
                {% endfor %}
            </SELECT>
        </TD>
        {#- Tertiary Tag -#}
        <TD>
            <SELECT class="tertiary-tag" onchange="tagSelect(this)">
                <OPTION value=""> </OPTION>
                {% for tag in tags %}
                    <OPTION value="{{ tag }}">{{ tag }}</OPTION>
                {% endfor %}
            </SELECT>
        </TD>
        {#- Flag Checkboxes -#}
        <TD class="flagcell">
            <DIV class="flagcell-contents" {% if tag_class == 'o' %}style="display:none"{% endif %}>
            <DIV class="flag-combo"></DIV>
            <DIV class="flags">
                {% for flag in flags %}
                    <input type="checkbox" name="flag"
                           value="{{ flag }}" {% if flag in cur_flags %} checked{% endif %}>{{ flag }}<br/>
                {% endfor %}
            </DIV>
            </DIV>
        </TD>
        {#- Span Selection #}
        <TD>
            <SELECT class="span-select" onchange="spanSelect(this)" {% if cur_tag == 'O' %}style="display:none;"{% endif %}>
                <OPTION value="new-span"{% if span_type == 'new' %} selected="true"{% endif %}>New Span</OPTION>
                <OPTION value="prev-span"{% if span_type == 'prev' %} selected="true"{% endif %}>...</OPTION>
                <OPTION value="cont-span"{% if span_type == 'cont' %} selected="true"{% endif %}>Continue Span</OPTION>
            </SELECT>
        </TD>
        {#- The line content #}
        <TD>{{ text.replace(' ', '&nbsp;')|safe }}</TD>
</TR>
{% endmacro %}