{%- macro line(fl, tags, flags, fd) -%}
    {%- set cur_tag = fl.tag.split('+')[0] -%}
    {%- set mul_tags = cur_tag.split('-') %}
    {% set cur_flags = fl.tag.split('+')[1:] %}
    {#- Deal with the class of the tag -#}
    {%- if mul_tags[0].startswith('*') -%}
        {%- set tag_class='noisy' -%}
    {%- else -%}
        {%- set tag_class=mul_tags[0].lower() -%}
    {%- endif -%}
    {#- The drop-down for new_span, prev_span -#}
    {%- if fl.lineno > 1 -%}
        {%- set same_span=fd.linemap[fl.lineno-1].span_id == fl.span_id -%}
    {%- else -%}
        {%- set same_span=false -%}
    {%- endif -%}
    {#-  -#}
<TR class="linerow tag-{{ tag_class }}{% if fl.span_id and not same_span %} new-span{% endif %}">
        <TD class="lineno" lineno="{{ fl.lineno }}">{{ fl.lineno }}</TD>
        {#  -#}
        {# The drop-down for the tag... -#}
        <TD>
            <SELECT class="tag-select" onchange="tagSelect(this)">
            {%- if mul_tags[0] not in tags %}
                <OPTION value="{{ mul_tags[0] }}" selected>{{ mul_tags[0] }}</OPTION>
            {%- endif %}
            {%- for tag in tags %}
                <OPTION value="{{ tag }}" {% if tag==mul_tags[0] %}selected{% endif %}>{{ tag }}</OPTION>
            {%- endfor %}
            </SELECT>
        </TD>
        {#- Secondary Tag -#}
        <TD>
            <SELECT class="secondary-tag" {% if tag_class == 'o' %}style="display:none;"{% endif %}>
                <OPTION value=""> </OPTION>
                {% for tag in tags %}
                    {% if tag != 'O' %}
                        <OPTION value="{{ tag }}" {% if mul_tags|length > 1 and mul_tags[1] == tag %}selected{% endif %}>{{ tag }}</OPTION>
                    {% endif %}
                {% endfor %}
            </SELECT>
        </TD>
        {#- Tertiary Tag -#}
        <TD>
            <SELECT class="tertiary-tag" {% if tag_class == 'o' %}style="display:none;"{% endif %}>
                <OPTION value=""> </OPTION>
                {% for tag in tags %}
                    {% if tag != 'O' %}
                        <OPTION value="{{ tag }}" {% if mul_tags|length > 2 and mul_tags[2] == tag %}selected{% endif %}>{{ tag }}</OPTION>
                    {% endif %}
                {% endfor %}
            </SELECT>
        </TD>
        {#- Flag Checkboxes -#}
        <TD class="flagcell">
            <DIV class="flagcell-contents" {% if tag_class == 'o' %}style="display:none"{% endif %}>
            <DIV class="flagsshow" {% if cur_flags %}style="display:none"{% endif %}>
                <input type="button" value="Show Flags" onclick="showFlags(this);"/>
            </DIV>
            <DIV class="flags" {% if not cur_flags %}style="display:none"{% endif %}>
                {% for flag in flags %}
                    <input type="checkbox" name="flag" value="{{ flag }}" {% if flag in cur_flags %} checked{% endif %}>{{ flag }}<br/>
                {% endfor %}
                <input type="button" value="Hide" onclick="hideFlags(this);"/>
            </DIV>
            </DIV>
        </TD>
        {#- Span Selection #}
        <TD>
            <SELECT class="span-select" onchange="spanSelect(this)" {% if cur_tag == 'O' %}style="display:none;"{% endif %}>
                <OPTION value="new-span">New Span</OPTION>
                <OPTION value="prev-span" {% if same_span %}selected="true"{% endif %}>...</OPTION>
            </SELECT>
        </TD>
        {#- The line content #}
        <TD>{{ fl.replace(' ', '&nbsp;')|safe }}</TD>
</TR>
{% endmacro %}