    <meta charset="UTF-8">
    {#- Start off with the script imports... #}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='default.js') }}"></script>
    {# And the stylesheet.. -#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}"/>

    <!-- Snippets of javascript for later -->
    <script type="text/javascript">
        var selectedRow=null;
        var baseUrl='{{ url_for('home') }}';
        var enteredDir='{{ dir }}/';
        var hasBeenModified=false;
        var tags = [{% for tag in tags %}
            'tag-{{ tag|lower }}',
        {%- endfor %}];
    </script>