    <meta charset="UTF-8">

    {# Start off with the script imports... #}
    <script type="text/javascript" src="{{ static_url }}/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}/default.js"></script>
{#    <script type="text/javascript" src="{{ static_url }}/jquery-ui/jquery-ui.js"></script>#}
{#    <script type="text/javascript" src="{{ static_url }}/easyui/jquery.easyui.min.js"></script>#}

    {# And the stylesheet.. #}
    {#<link rel="stylesheet" type="text/css" href="{{ config['STATIC_URL'] }}libs/easyui/themes/default/easyui.css"/>#}
    <link rel="stylesheet" type="text/css" href="{{ static_url }}/default.css"/>
{#    <link rel="stylesheet" type="text/css" href="{{ static_url }}/easyui/themes/default/easyui.css"/>#}