    <meta charset="UTF-8">
    {#- Start off with the script imports... #}
    <script type="text/javascript" src="{{ static_url }}/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}/default.js"></script>
    {# And the stylesheet.. -#}
    <link rel="stylesheet" type="text/css" href="{{ static_url }}/default.css"/>

    <!-- Snippets of javascript for later -->
    <script type="text/javascript">
        var selectedRow=null;
        var baseUrl='{{ base_url }}';
        var enteredDir='{{ dir }}/';
    </script>